[submodule "onboard/hardware-interfaces/lib-universal-canbus"]
	path = onboard/hardware-interfaces/lib-universal-canbus
	url = git@github.com:RMIT-Rover-Team/rmit-lib-universal-canbus.git
	branch = feat/implement-canbus-v3
